@keyframes changeBgColor {
  0% {
    background-color: teal;
  }

  50% {
    background-color: orange;
  }

  100% {
    background-color: deepskyblue;
  }
}

.box {
  width: 400px;
  height: 300px;
  background-color: teal;
  border-radius: 10px;
  /* transition-property: background-color, transform;
  transition-duration: 1000ms;
  transition-timing-function: ease-in-out;
  transition-delay: 300ms; */
  /* animation-name: changeBgColor;
  animation-duration: 3000ms;
  animation-timing-function: linear; */
  /* animation-iteration-count: 5; */
  /* animation-direction: alternate;
  animation-fill-mode: forwards; */
  transition: background-color 500ms linear, transform 500ms ease-in-out 500ms;
}

/* .box {
  margin-bottom: 30px;
}

.box:last-child {
  margin-bottom: 0;
} */

.box:not(:last-child) {
  margin-bottom: 30px;
}

.box:hover {
  background-color: orange;
  transform: scale(1.7);
  transform: translate(100%, 50%);
}

.inner {
  border-color: aquamarine;
}

.thumb {
  position: relative;
  opacity: 0.7;
  margin-bottom: 50px;
  width: 700px;
  height: 400px;
  background-color: darkslategray;
}

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  font-size: 60px;
  width: 100px;
  height: 200px;
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 20px;
  background-color: turquoise;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 500ms ease-in;
}

.button::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 5px;
  background-color: #212121;
  border-radius: 20px;
  transform: scaleX(0);
  transition: transform 500ms linear;
  transform-origin: bottom right;
}

.button:hover {
  background-color: bisque;
}

.button:hover .button-icon.visible {
  transform: translateY(-50px);
}

.button:hover .button-icon.hidden {
  transform: translateY(-50%);
}

.button:hover::after {
  transform: scale(0.55);
}

.button-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  transition: transform 500ms ease-in;
}

.button-icon.hidden {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(calc(-50% + 50px));
}
