:root {
  --indent: 20px;
  --items: 3;
}

body {
  margin: 0;
  padding-top: 50px;
  font-family: sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
  background-color: #fafafa;
}

svg {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.icon-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.icon {
  border: 2px dashed #2a2a2a;
  border-radius: 8px;
  background-color: #2a2a2a;
  fill: white;
}

.icon:hover {
  fill: #03a9f4;
  fill-opacity: 0.7;
  stroke: aqua;
  stroke-opacity: 0.5;
}

.section {
  background-color: #ccc;
  padding: 15px;
}

.container {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  outline: 1px solid tomato;
}

.card-set {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  gap: var(--indent);
}

.card-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.list-second {
  --indent: 40px;
  --items: 4;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  /* display: flex; */
  /* gap: 20px; */
  /* justify-content: center; */
  /* flex-wrap: wrap; */
}

.item {
  /* flex-basis: calc((100% - 2 * 20px) / 3); */
  border: 1px solid black;
  height: 300px;

  background-color: aqua;
  text-align: center;
  line-height: 300px;
}

.hero {
  border: 2px solid #fd7e14;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2a2a2a;
  background-image: url(https://cdn.pixabay.com/photo/2020/07/06/01/33/forest-5375005_1280.jpg);
  color: #fff;
  text-align: center;
  background-position: center;
}

.hero.no-image {
  background-image: none;
}

.hero.no-bg {
  background-color: initial;
}

.hero + .hero {
  margin-top: 10px;
}

.title {
  margin-top: 0;
}

.text {
  margin: 0;
  text-transform: uppercase;
}
