/* Застосується до всіх тегів з класом title */
.title {
  font-weight: 500;
}

/* Застосується до всіх тегів з класом text */
.text {
  color: brown;
  font-size: 18px;
}

/* Застосується до всіх тегів з класом link */
.link {
  text-decoration: none;
}

/* ❌ Застосується до всіх посилань у документі */
a {
  color: blue;
  text-decoration: none;
}

/* ✅ Застосується тільки до посилань, які лежать всередині тегу з класом social-links */
.social-links a {
  color: red;
  text-decoration: none;
}

/* ❌ Не вирішує завдання */
/* .menu li {
  border: 1px solid tomato;
} */

/* ✅ Те, що потрібно */
.menu > li {
  border: 1px solid tomato;
}

.link {
  color: teal;
}

.link:hover {
  color: tomato;
}

.social-links .link {
  color: teal;
}

.social-links .link:hover,
.social-links .link:focus {
  color: orange;
}

.social-links .link:active {
  color: red;
}

.text {
  background-color: tomato;
  color: white;
  text-indent: 150px;
  font-size: 26px;
  line-height: 1.5;
}

.text > span {
  text-decoration: line-through;
}

.link {
  text-decoration: none;
}

.post-title {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-justify {
  text-align: justify;
}

:root {
  /* Colors variables */
  --white-cl: #fff;
  --red-cl: #f00;
  --black-cl: #000;
  --teal-cl: teal;
}

.title {
  color: var(--white-cl);
  text-shadow: 2px 2px 20px var(--red-cl), 5px 5px 5px var(--black-cl);
  font-style: italic;
  background-color: var(--teal-cl);
}

pre {
  font-family: 'Roboto', sans-serif;
  color: #04592d;
  font-size: 16px;
}

pre::first-letter {
  /* font-family: 'Tahoma', serif; */
  font-size: 32px;
  color: #f44336;
}

pre::selection {
  color: #ffffff;
  background-color: #2e40b1;
}

/* lesson 03 - BLOCK model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  color: #212121;
}

.text-03 {
  padding: 50px 20px;
  background-color: #fff;
  border: 2px dashed #212121;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  color: #212121;
}

img {
  /* display: block; */
  max-width: 100%;
  height: auto;
}

.post {
  padding: 20px;

  max-width: 400px;
  background-color: #fff;
  border: 2px dashed #2a2a2a;
}

.post-thumb {
  margin-bottom: 30px;
  border: 2px dashed tomato;
}

.post-heading {
  margin-top: 0;
  margin-bottom: 20px;

  border: 2px dashed teal;
}

.post-text {
  margin-bottom: 0;
  margin-top: 0;

  border: 2px dashed blue;
}

.box {
  width: 200px;
  height: 100px;
}

.top {
  margin-bottom: 20px;
  background-color: teal;
}

.bottom {
  margin-top: 40px;
  background-color: palevioletred;
}

.outer-box {
  width: 200px;
  height: 200px;
  background-color: teal;
}

.inner-box {
  width: 100px;
  height: 100px;
  margin-top: 40px;
  background-color: palevioletred;
}

.common {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.box-1 {
  width: 140px;
  height: 80px;
  border-radius: 10px;
  background-color: #f44336;
}

.box-2 {
  width: 100px;
  height: 100px;
  border-radius: 20%;
  background-color: #2196f3;
}

.box-3 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #4caf50;
  margin-right: auto;
  margin-left: auto;
}

.card {
  max-width: 320px;
  margin: 0 auto;
  border-radius: 4px;
  overflow: hidden;
  background-color: #f44336;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.card-image {

  max-width: 100%;
}

.card-image.no-gap {
  display: block;
}

.card-heading {
  margin: 0;
  padding: 20px;
  font-weight: 500;
  background-color: #03a9f4;
}

.card + .card {
  margin-top: 20px;
}
