h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  width: 200px;
  height: 100px;
  outline: 2px solid teal;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: rgb(181, 144, 215);
}
