@import './modern-normalize';
@import './mixins';
@import './placeholders';
@import './common';
@import './container';
@import './logo';
@import './header';
@import './nav';
@import './contacts';
@import './main-page-btn';
@import './menu-btn';
@import './menu';

// .thumb {
//   margin-left: auto;
//   margin-right: auto;
//   margin-bottom: 30px;
// width: 400px;
// }

.img-set {
  @extend %list;

  @media screen and (min-width: 570px) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}

.img-set__item {
  outline: 1px solid blueviolet;
  outline-offset: -1px;

  @media screen and (min-width: 570px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 570px) {
    flex-basis: calc((100% - 60px) / 3);
  }
}
