@import './mixins';

.container {
  width: 1200px;
  padding-left: 20px;
  padding-right: 20px;

  margin: 0 auto;
}

.main-page {
  display: inline-block;
  margin-bottom: 50px;
  padding: 10px 20px;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  background-color: aquamarine;
  border: 1px solid blueviolet;
  border-radius: 5px;
  color: #212121;
  transition: background-color 300ms ease-in, transform 300ms ease-in;

  &:hover,
  &:focus {
    background-color: aqua;
    transform: scale(1.2);
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  @include flexBasis(3);
  @include flexBasis(4);
  display: flex;
  align-items: center;
  justify-content: center;
  // flex-basis: calc((100% - 4 * 30px) / 5);
  // width: 300px;
  height: 400px;
  background-color: tomato;
  font-size: 25px;
  color: #fff;
}
